# Dependencies
node_modules/

# Hardhat
cache/
artifacts/

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# Hardhat Ignition
ignition/deployments/
